@font-face {
  font-family: 'Poppins';
  src: url('./public/fonts/Poppins-Regular.ttf') format('truetype'), url('./public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./public/fonts/Poppins-Medium.ttf') format('truetype'), url('./public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./public/fonts/Poppins-Bold.ttf') format('truetype'), url('./public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background-body: #F7F7F8;

  --primary-color: #880d1e;
  --primary-color-50: #dd2d4a;
  --primary-color-30: #f26a8d;
  --primary-color-20: #f49cbb;

  --secondary-color: #cbeef3;

  --text-color: #333;

}

* {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F7F7F8;
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
